/***************************************************** TEXTOS ***********************************************/

h1{
    text-align: center;
    padding: 10px;
    color: rgb(43, 172, 211);
}

h2 {
    padding: 1% 3%;
    background-color:grey;
    /*width: 250px;*/
    width: 38%;
    
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/***************************************** BUSCADOR POR DATALIST *****************************************/

.datalist{
    width: 80%; 
    height: 40px;
    text-align: center;
    margin: auto;
}

/****************************************** LISTA ENFERMEDADES *******************************************/

.lista{
   width: 80%;
   margin: auto;
   padding: 10px;
}

.lista article{
    width: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    }

.lista article img{
    width: 25%;
    height: 170px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(158, 158, 158);
}
.lista article div {
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
}

.lista button{
    width: 90px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(68, 135, 189);
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    transform: scale(1);
    transition: transform 1s;
}

.lista button:hover{
    transform: scale(1.1);
}

.lista button a{
    text-decoration: none;
    color: white;
    display: block;
    
}

.lista button a:hover{
    color: black;
}

@media screen and (max-width: 47em){

    .lista article{

        flex-direction: column;

    }


    .lista article div{
        text-align: center;
        
    }

    h2{
        width: 100%;

    }


    .lista article img{
        width: 250px;
    }

    p{
        font-size: 0.7em;
    }


    
}