h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
    color: rgb(43, 172, 211);
}

h2{
    font-size: 1.3em;
}

main a{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

p{
    font-family: 'Roboto', sans-serif;
}

iframe{
    margin-bottom: 30px;
}

#mapin{
    width: 70%;
    text-align: center;
}

#mapa{
    border: 2px solid black;
    border-radius: 3%;
}

#cuerpo{
    display: flex;
    justify-content: space-around;
    height: 600px;
}

#cuerpo img{
    border-radius: 10px;
    height: 100px;
}

.popup a{
    border: 1px solid black;
    background-color: grey;
    color: white;
    padding: 1%;
    border-radius: 10%;
}

#listado{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#botoneshospital{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: space-around;
    align-items: center;

}



#botoneshospital a{
    color: white;
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    width: 80%;
}

#listado a{
    transform: scale(1);
    transition: transform 1s;
}

#listado a:hover{
    color: rgb(43, 172, 211);
    cursor: pointer;
    transform: scale(1.1);

}


.popup{
    background-color: rgba(187, 187, 187, 0.733);
    width: 25%;
    text-align: center;
    display:none;
    height: 35%;
    border-radius: 10px;
    
    position: absolute; 
    z-index:2;
    top:70%;
}


/*
#informacion1{
    background-color: rgba(187, 187, 187, 0.733);
    width: 25%;
    text-align: center;
    display:none;
    height: 35%;
    border-radius: 10px;
    
    position: absolute; 
    
    z-index:2;
    top: 65%;
    
}

#informacion2{
    background-color: rgba(187, 187, 187, 0.733);
    width: 25%;
    align-content: center;
    text-align: center;
    
    display:none;
    height: 35%;
    border-radius: 10px;
    
    position: absolute;
    z-index:2;
    top:65%;
    
}

#informacion3{
    background-color: rgba(187, 187, 187, 0.733);
    width: 25%;
    text-align: center;
    display:none;
    height: 35%;
    border-radius: 10px;
    
    position: absolute; 
    z-index:2;
    top:65%;
}
*/


@media screen and (max-width: 47em){

    #cuerpo{
        flex-direction: column;
    }

    #listado{
        width: 100%;
    }

    #mapin{
        width: 100%;
        height: 100%;
    }

    #botoneshospital{
        height: 100%;
    }

    .popup{
        background-color: rgba(187, 187, 187, 0.9);
        width: 60%;
        text-align: center;
        display:none;
        height: 40%;
        border-radius: 10px;
    
        position: absolute; 
        z-index:2;
        top:65%;
    }

}